# ======================
# .NET / MAUI
# ======================
bin/
obj/

# ======================
# IDEs
# ======================
.vs/
.idea/

# ======================
# User / OS
# ======================
.DS_Store
*.user
*.suo
*.cache
*.log

# ======================
# Build artifacts
# ======================
*.dll
*.exe
*.pdb
*.deps.json
