/shelf/
/workspace.xml
/modules.xml
/.idea/
.idea.Keepsake.iml
/contentModel.xml
/projectSettingsUpdater.xml


/queries/
/dataSources/
dataSources.local.xml


/httpRequests/


bin/
obj/

*.dll
*.exe
*.pdb


*.app/
Contents/
MonoBundle/
.DS_Store


.vs/
.vscode/
